[
    {
        "scope": "http://ip-api.com:80",
        "method": "GET",
        "path": "/json/8.8.8.8",
        "body": "",
        "status": 200,
        "response": {
            "status": "success",
            "country": "United States",
            "countryCode": "US",
            "region": "VA",
            "regionName": "Virginia",
            "city": "Ashburn",
            "zip": "20149",
            "lat": 39.03,
            "lon": -77.5,
            "timezone": "America/New_York",
            "isp": "Google LLC",
            "org": "Google Public DNS",
            "as": "AS15169 Google LLC",
            "query": "8.8.8.8"
        },
        "rawHeaders": {
            "content-type": "application/json; charset=utf-8",
            "x-rl": "44",
            "x-ttl": "60"
        },
        "responseIsBinary": false
    }
]